.container--option-2 {
  padding-left: 5px;
}

.container--option-2 .timeline {
  position: relative;
  margin-right: 20px;
  padding-left: 10px;
}

.container--option-2 .timeline::before {
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  width: 1px;
  height: calc(100% + 0px);
  background-color: #e48e0e;
}

.container--option-2 .timeline__dot {
  position: absolute;
  top: 7px;
  left: -4px;
  width: 7px;
  height: 7px;
  background-color: #e48e0e;
  border-radius: 50%;
}

.container--option-2 .timeline .timeline__content {
  padding-top: 2px;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}

.container--option-2 .content {
  flex-grow: 1;
  flex-direction: column;
  padding-bottom: 20px;
}

.container--option-2:last-child .content {
  padding-bottom: 0;
}

.container--option-2 .content__header {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
}

.container--option-2 .content__body {
  flex-direction: column;
}

.container--option-2 .content__body__main {
  margin-bottom: 5px;
}

.container--option-2 .content__body__sub {
  font-size: 12px;
  font-style: italic;
}
