.container--option-3 {
  padding-left: 4px;
}

.container--option-3 .timeline {
  position: relative;
  width: 1px;
  margin-right: 10px;
  background-color: #e48e0e;
}

.container--option-3 .timeline__dot {
  position: absolute;
  top: 7px;
  left: -3px;
  width: 7px;
  height: 7px;
  background-color: #e48e0e;
  border-radius: 50%;
}

.container--option-3 .period {
  margin-right: 20px;
  padding-top: 2px;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}

.container--option-3 .content {
  flex-grow: 1;
  flex-direction: column;
  padding-bottom: 20px;
}

.container--option-3:last-child .content {
  padding-bottom: 0;
}

.container--option-3 .content__header {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
}

.container--option-3 .content__body {
  flex-direction: column;
}

.container--option-3 .content__body__main {
  margin-bottom: 5px;
}

.container--option-3 .content__body__sub {
  font-size: 12px;
  font-style: italic;
}
