/* Roboto regular */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto bold */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  font-family: 'Roboto';
  line-height: 1;
}

div {
  display: flex;
}

.section {
  flex-direction: column;
  margin-top: 30px;
}

.section:first-child {
  margin-top: 0;
}

.section__header {
  flex-direction: column;
  margin-bottom: 14px;
}

.section__header__title {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 20px;
}

.section__header__title span {
  margin: 0 5px;
  color: #a52a2a;
}

.section__header__description {
  font-size: 14px;
  font-style: italic;
}

.section__header__description span {
  margin: 0 5px;
  color: #a52a2a;
}

.section__content {
  flex-direction: column;
}
